<div class="page-header">
    <h1>AnGistular<small> example of how to use Angular resources</small></h1>
</div>

<!--
<div class="row-fluid" style="margin-bottom: 10px">
    <button class="btn btn-small span2 offset10" ng-click="new()">New Gist</button>
</div>
-->

<div class="alert alert-info">
    <h4>My Gists</h4>
</div>


<ul class="media-list">
    <li class="media" style="border-bottom: 1px solid #dedede" ng-repeat="gist in gists.myGists">
        <a class="pull-left" href="{{gist.user.html_url}}">
            <img class="img-polaroid" style="width:50px; height: 50px" src="{{gist.user.avatar_url}}"/>
        </a>

        <div class="media-body">
            <h4 class="media-heading">{{gist.user.login || 'anonymous'}}</h4>
            <p>{{gist.description}}</p>
            <p><a href="{{file.raw_url}}" ng-repeat="file in gist.files" style="margin-right: 10px">{{file.filename}}</a></p>

            <div class="pull-right">
                <div class="label-group">
                    <a href="{{gist.html_url}}"><i class="icon-globe"></i></a>
                    <a ng-click="star(gist)"><i class="icon-star"></i></a>
                    <a ng-click="remove(gist)"><i class="icon-remove"></i></a>
                </div>
            </div>
        </div>
    </li>
</ul>

<!--
<div class="alert alert-heading">
    <h4>Public Gists</h4>
</div>

<ul class="media-list">
    <li class="media" style="border-bottom: 1px solid #dedede" ng-repeat="gist in gists.publicGists">
        <a class="pull-left" href="{{gist.user.html_url}}">
            <img class="img-polaroid" style="width:50px; height: 50px" src="{{gist.user.avatar_url}}"/>
        </a>

        <div class="media-body">
            <h4 class="media-heading">{{gist.user.login || 'anonymous'}}</h4>
            <p>{{gist.description}}</p>
            <p><a href="{{file.raw_url}}" ng-repeat="file in gist.files" style="margin-right: 10px">{{file.filename}}</a></p>

            <div class="pull-right">
                <div class="btn-toolbar pull-right">
                    <div class="label-group">
                        <a href="{{gist.html_url}}"><i class="icon-globe"></i></a>
                        <a ng-click="fork(gist)"><i class="icon-random"></i></a>
                        <a ng-click="star(gist)"><i class="icon-star"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </li>
</ul>
-->
